// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Basics
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: normal;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: lighten($brand-color, 25%);
  color: $text-color;
  text-shadow: none;
  opacity: 1;
}

::-moz-selection {
  background: lighten($brand-color, 25%);
  color: $text-color;
  text-shadow: none;
  opacity: 1;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Images
img {
  max-width: 100%;
  vertical-align: middle;
}

.block {
  display: block;
}

// Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// Lists
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

.no-bullets {
  list-style: none;
  margin-left: 0;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: 1em;
  margin-bottom: .5em;
  color: inherit;

  a, a:hover {
    color: inherit;
  }
}

.title {
  font-size: 4rem;
  font-family: $title-font-family;
  font-weight: $title-font-weight;

  @include media-query($on-phone) {
    font-size: 3rem;
  }
}

.logo, .site-title {
  font-family: $title-font-family;
  font-weight: $title-font-weight;
}

h1 {
  font-family: $title-font-family;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.5em;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

// Links
a {
  display: inline-block;
  color: $brand-color;
  text-decoration: none;

  &:visited {
    // color: darken($brand-color, 15%);

  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

// Paragraph
.lead, p.lead {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 1.5em;

  // font-family: $heading-font-family;
}

// Blockquotes
blockquote {
  // border-left: .25rem solid #e8e8e8;
  border-radius: 8px;
  padding: 1.25rem;
  font-size: 1.25em;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  > blockquote {
    margin: -1.25rem !important;
    background: whiteSmoke;
  }

  p {
    max-width: 100% !important;
  }
}

// Code formatting
pre,
code {
  font-size: 1rem;
  border: 1px solid lighten($gray, 40%);
  border-radius: 3px;
  background-color: #eef;
  color: $black;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

// Icons
icon {
  display: inline-block;
}

// Small screen base
@include media-query($on-tablet) {
  h1 {
    font-size: $small-font-size * 2.75;
  }

  h2 {
    font-size: $small-font-size * 2.35;
  }
}


// Mobile base
@include media-query($on-phone) {
  body {
    font-size: $small-font-size;
  }

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  h1 {
    font-size: 2.35rem;
  }

  h2 {
    font-size: 2.15rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .lead, p.lead {
    font-size: 1.25rem;
  }
}