// General color helpers
$colors: (
  "red": $red,
  "white": $white,
  "gray": $gray,
  "black": $black,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  brand: $brand-color
);

@each $name, $color in $colors {
  .color-#{$name}, .link-#{$name} {
    color: #{$color};
  }

  .background-#{$name}, .button-#{$name} {
    background-color: #{$color};
  }
}

// Floats
.float-left {
  float: left;
}

.margin-center {
  margin: auto;
}

.float-right {
  float: right;
}

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Padding overrides
.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

// Margin overrides
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.extra-padding-bottom {
  margin-bottom: 2rem !important;
}

// Transitions and Animations
.transition {
  transition: 200ms all ease;
}

.transition-faster {
  transition: 120ms all ease;
}

.transition-slower {
  transition: 310ms all ease;
}

.transition-bounce {
  transition: 300ms all cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

// Mobile visibility
.visible-phone, .hidden-desktop {
  display: none;
  visibility: hidden;
}

@include media-query($on-tablet) {
  .visible-phone, .hidden-desktop {
    display: inherit;
    visibility: visible;
  }

  .visible-desktop, .hidden-phone {
    display: none !important;
  }
}