// Header
header {
  p {
    max-width: 100%;
  }
}

// Sections
section {
  *padding: 100px 0;
  align-items: center;
}

header, section {
  // min-height: 80vh;
  padding: 8vh 10vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  // -webkit-box-align: center;
  // -webkit-align-itrems: center;
  // -ms-flex-align: center;
  // align-itrems: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  @include media-query($on-netbook) {
    padding: 8vh 2vw;
  }
}