// Social media color helpers
// Brand colors: http://brandcolors.net/
$networks: (
  twitter: #55acee,
  facebook: #3b5998,
  youtube: #cd201f,
  deviantart: #05cc47,
  tumblr: #35465c,
  dribbble: #ea4c89,
  snapchat: #fffc00,
  instagram: #833ab4
);

@each $name, $color in $networks {
  .color-#{$name}, .link-#{$name} {
    color: #{$color};
  }

  .background-#{$name}, .button-#{$name} {
    background-color: #{$color};
  }
}

.background-snapchat, .button-snapchat {
  color: $black;
}

// Native-looking Twitter button
.twitter-button {
  font-size: 13px;
  line-height: 26px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  -webkit-user-select: none;
  display: inline-block;
  zoom: 1;
  position: relative;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff !important;
  cursor: pointer;
  background-color: #1b95e0;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;

  &:hover, &:focus, &:active {
    background-color: #0c7abf;
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  icon {
    margin: 0 !important;
  }
}