<footer class="site-footer">

  <container>
    <a href="#top" class="button back-to-top float-right"><icon class="fas fa-space-shuttle" data-fa-transform="rotate--90"></icon><span class="flame"><span class="flame-inner"></span></span> Back to Top!</a>
    <p class="link-bar no-margin-bottom">
      <icon class="fab fa-twitter"></icon> <a href="https://twitter.com/{{ site.handle }}" target="_blank" class="link-twitter">@{{ site.handle }}</a>
      <icon class="fab fa-github"></icon> <a href="https://github.com/{{ site.handle }}" target="_blank" class="link-tumblr">GitHub</a>
      <icon class="fab fa-dribbble"></icon> <a href="https://dribbble.com/{{ site.handle }}" target="_blank" class="link-dribbble">Dribbble</a>
      <icon class="fas fa-paint-roller"></icon> <a href="https://stat.ink/@pixely/spl2" target="_blank" class="link-deviantart">Splat Log</a>
    </p>
    <p>
      <small>&copy; {{ site.title }}. All rights reserved. <a href="https://github.com/pixelyunicorn/2018-website-v2" target="_blank">This site is Open Source on GitHub!</a></small>
    </p>
  </container>

</footer>

<script src="{{ site.baseurl }}/scripts/site.js?{{ site.time | date: "%s%N" }}"></script>

{% if site.dev != true %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics }}"></script>
<script>
if (!(navigator.doNotTrack == "1" || window.doNotTrack == "1")) {

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google-analytics }}');

}
</script>
{% endif %}
