<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page Title -->
  <title>{% if page.home %}{{ site.title }}{% elsif page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/styles/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if site.dev != true %}{% if site.google-fonts %}<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.google-fonts }}&subset={{ site.google-fonts-subsets }}">{% endif %}
  {% if site.typekit %}<link rel="stylesheet" href="https://use.typekit.net/{{ site.typekit }}.css">{% endif %}{% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="twitter:site" content="@{{ site.handle }}"/>

  <style type="text/css" media="screen">
    {% if page.header-text %}header, #navigation, .accent-bg { color: {{ page.header-text }}; }{% endif %}
    {% if page.accent %}header, .accent-bg, #devices .device-mobile:after { background-color: {{ page.accent }}; } a, .accent-text { color: {{ page.accent }}; } .device-desktop, .border-accent { border-color: {{ page.accent }}; }{% endif %}
    {% if page.accent-light %}#devices .device-desktop .browser-toolbar .url, blockquote > blockquote, .accent-light-bg { background: {{ page.accent-light }}; }
    ::selection { background: {{ page.accent-light }}; } ::-moz-selection { background: {{ page.accent-light }}; }{% endif %}
    {% if page.pattern %}header, .pattern-bg { background-image:  url({{ site.baseurl }}/media/{{ page.pattern }}); background-repeat: repeat; background-size: initial; } {% endif %}
  </style>

  <script defer src="{{ "/scripts/fa/solid.js" | prepend: site.baseurl }}"></script>
  <script defer src="{{ "/scripts/fa/brands-modified.js" | prepend: site.baseurl }}"></script>
  <script defer src="{{ "/scripts/fa/fontawesome.js" | prepend: site.baseurl }}"></script>

</head>
