
// Wordart
wordart {
  display: inline-block;
  position: relative;
  padding: 0 .25em;
  background-color: pink;
  &:before {
    content: ' ';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
  }
  &[word="design"] {
    background-color: transparent;
    &:before {
      bottom: 60%;
      left: 50%;
      margin-left: -25px;
      background-image: url(../media/wordart/wordart-design.png);
    }
  }
  &[word="build"] {
    background-color: transparent;
    &:before {
      bottom: 60%;
      left: 50%;
      margin-left: -25px;
      background-image: url(../media/wordart/wordart-build.png);
    }
  }
  &[word="website"] {
    background-color: transparent;
    &:before {
      bottom: 52%;
      left: 50%;
      margin-left: -25px;
      background-image: url(../media/wordart/wordart-website.png);
    }
  }
  &[word="love"] {
    background-color: transparent;
    &:before {
    bottom: 52%;
    left: 50%;
    margin-left: -25px;
    background-image: url(../media/wordart/wordart-love.png);
    }
  }
  &[word="organise"] {
    background-color: transparent;
    &:before {
      bottom: 60%;
      left: 50%;
      margin-left: -25px;
      background-image: url(../media/wordart/wordart-events.png);
    }
  }
  &[word="speak"] {
    background-color: transparent;
    &:before {
      bottom: 60%;
      left: 50%;
      margin-left: -25px;
      background-image: url(../media/wordart/wordart-talks.png);
    }
  }
  &[word="meetups"] {
    background-color: transparent;
    &:before {
      bottom: 52%;
      left: 50%;
      margin-left: -25px;
      background-image: url(../media/wordart/wordart-meetups.png);
    }
  }
  &[word="events"] {
    background-color: transparent;
    &:before {
    bottom: 60%;
    left: 80%;
    margin-left: -25px;
    background-image: url(../media/wordart/wordart-cons.png);
    }
  }
  &[word="tea"] {
    background-color: transparent;
    &:before {
    bottom: 60%;
    left: 50%;
    margin-left: -25px;
    background-image: url(../media/wordart/wordart-tea.png);
    }
  }
  &[word="hoagie"] {
    background-color: transparent;
    &:before {
    bottom: 60%;
    left: 50%;
    margin-left: -25px;
    background-image: url(../media/wordart/wordart-hoagie.png);
    }
  }

}