<header class="page-header no-margin-bottom">
	<container>
		<h1 class="title">{{ page.title }}</h1>
		{% if page.lead %}<p class="lead">{{ page.lead }}</p>{% endif %}
	</container>
	{% if page.screenshots %}
	<br>
	<container id="devices"><a href="{{ page.url }}" target="_blank">
		<div class="device-desktop">
			<div class="browser-toolbar">
				<div class="visit-site">Visit Site!<i class="fas fa-hand-point-right"></i></div>
				<div class="url"><icon class="fas fa-globe"></icon>{{ page.url-display }}</div>
			</div>
			<img src="/media/{{ page.screenshots-desktop }}" alt="&quot;{{ page.title }} desktop site&quot;"/>
		</div>
		<div class="device-mobile">
			<img src="/media/{{ page.screenshots-mobile }}" alt="&quot;{{ page.title }}mobile site&quot;"/>
		</div>
	</a></container>
	{% endif %}
	{% if page.photos %}
	<br>
	<container id="photos">

	</container>
	{% endif %}
</section>
</header>