<header class="page-header no-margin-bottom">
	<container>
		<h1 class="title">{{ page.title }}</h1>
		{% if page.lead %}<p class="lead">{{ page.lead }}</p>{% endif %}
	</container>
	{% if page.screenshots %}
	<br>
	<container id="devices"><a href="{{ page.web }}" target="_blank">
		<div class="device-desktop">
			<div class="browser-toolbar">
				<div class="visit-site">Visit Site!<i class="fas fa-hand-point-right"></i></div>
				<div class="url"><icon class="fas fa-globe"></icon>{{ page.web-display }}</div>
			</div>
			<img src="{{ site.baseurl }}/media/{{ page.screenshots-desktop }}" alt="&quot;{{ page.title }} desktop site&quot;"/>
		</div>
		<div class="device-mobile device-mobile-{{ page.screenshot-mobile-position }}">
			<img src="{{ site.baseurl }}/media/{{ page.screenshots-mobile }}" alt="&quot;{{ page.title }}mobile site&quot;"/>
		</div>
	</a></container>
	{% endif %}
	{% if page.photos %}
	<br>
	<container id="photos">
		<grid column-count="3" tablet-column-count="2" phone-column-count="2">
			{% for img in page.photos %}
				<img src="{{ site.baseurl }}/media/{{ img[0] }}" alt="{{ img[1] }}"/>
			{% endfor %}
		</grid>
	</container>
	{% endif %}
</section>
</header>