<section id="summary">
	<container>
		<row>
			<column width="15" data-empty></column>
			{% if page.deliverables %}
			<column>
				<h4>Deliverables</h4>
				{% for x in page.deliverables %}
				{{ x }} <br>
				{% endfor %}
			</column>
			{% endif %}
			{% if page.technologies %}
			<column>
				<h4>Technologies</h4>
				{% for x in page.technologies %}
				{{ x }} <br>
				{% endfor %}
			</column>
			{% endif %}
			{% if page.contributors %}
			<column>
				<h4>Contributors</h4>
				{% for x in page.contributors %}
				{{ x }} <br>
				{% endfor %}
			</column>
			{% endif %}
			<column width="15" data-empty></column>
		</row>
	</container>
</section>

{% if page.previous %}
  {% assign prev = page.previous %}
{% else %}
	{% assign lastPostIndex = site.work | size | minus: 1 %}
	{% assign prev = site.work[lastPostIndex] %}
{% endif %}

{% if page.next %}
	{% assign next = page.next %}
{% else %}
	  {% assign next = site.work[0] %}
{% endif %}


<section id="portfolio">
  <!-- <a class="text-center back-home" href="/">
	<div> More projects from my portfolio: </div>
  </a> -->
  <grid column-count="2" phone-column-count="1">
    <a href="{{ prev.url }}" class="pf-item pf-mini brick" style="background-color: {{ prev.accent-light }}; background-image: url({{ site.baseurl }}/media/{{ prev.pattern }}); background-repeat: repeat; background-size: initial;" data-accent="{{ prev.accent }}" data-cycle="{% cycle 'odd', 'even' %}">
      <h3>{{ prev.title }}</h3>
      <p>{{ prev.description }}</p>
      <p class="link">Previous <icon class="fas fa-arrow-right"></icon></p>
    </a>

    <a href="{{ next.url }}" class="pf-item pf-mini brick" style="background-color: {{ next.accent-light }}; background-image: url({{ site.baseurl }}/media/{{ next.pattern }}); background-repeat: repeat; background-size: initial;" data-accent="{{ next.accent }}" data-cycle="{% cycle 'odd', 'even' %}">
      <h3>{{ next.title }}</h3>
      <p>{{ next.description }}</p>
      <p class="link">Next <icon class="fas fa-arrow-right"></icon></p>
    </a>
  </grid>
</section>


