---
layout: blank
home: true
permalink: /

header-background: white
header-text: black
pattern: hero-patterns/tic-tac-toe-05.svg
---

<!-- TODO: remove inline styles -->
<style>body { background-image: url(./media/hero-patterns/tic-tac-toe-05.svg); background-repeat: repeat; background-size: initial; background-attachment: initial; }</style>

<header style="display: none;">
  <container>
    <article class="content">
      <h2>Heya, I'm Melody!</h2>
      <p class="lead">Nice to meet you! It's a wonderful afternoon.</p>
    </article>
  </container>
</header>

<section id="sticker-packs" style="padding-top: 120px">
  <container>
    <h1 class="text-center">
      I <wordart word="design">design</wordart> &amp; <wordart word="build">build</wordart>
      <br>
      <wordart word="website">websites</wordart> humans <wordart word="love">love</wordart> to use!
    </h1>
    <p class="lead">Here are some rad <strong>websites</strong> I recently worked on:</p>
    <grid column-count="3" tablet-column-count="2" phone-column-count="1" class="rotate-pattern-1">
    {% for x in site.work %}
      {% assign idx = forloop.index | plus: 0 %}
      <a href="{{ x.url }}" class="spack {% if x.soon %}spack-soon{% endif %}">
        <div class="spack-label" style="background-color: {{ x.accent }}; background-image: url({{ site.baseurl }}/media/{{ x.pattern }}); background-repeat: repeat; background-size: initial;" data-accent="{{ x.accent }}" data-cycle="{% cycle 'odd', 'even' %}">
          <h3 class="hover-effect"><span class="hover-effect-text">{{ x.title }} <icon class="fas fa-arrow-right"></icon></span></h3>
          <p>{{ x.description }}</p>
        </div>
        <div class="spack-spacer">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAGQAQAAAABkR44+AAAAAnRSTlMAAHaTzTgAAAA4SURBVHgB7cGBAAAAAMOg+1MfZNXSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADiLEAABHj3GfAAAAABJRU5ErkJggg==" />
        </div>
        {% if x.soon %}
          <span class="spack-banner">Coming Soon!</span>
        {% endif %}
        {% if x.stickers %}
          {% for img in x.stickers %}
            <img src="{{ site.baseurl }}/media/{{ img[0] }}" alt="{{ img[1] }}" class="sticker"/>
          {% endfor %}
        {% else %}
        {% endif %}
      </a>
    {% endfor %}
    </grid>
    <br>
    <!-- <br>
    <p class="lead">I also take on <strong>comissions</strong>, which are smaller scale projects for my (art) friends:</p>
    <p>squid town, septa guides, dakimakura dreams</p> -->
  </container>
</section>

<section>
  <container>
    <h1 class="text-center">
      I also <wordart word="organise">organise</wordart> &amp; <wordart word="speak">speak</wordart>
      <br>
      at <wordart word="meetups">meetups</wordart> and <wordart word="events">community events</wordart>!
    </h1>
    <p class="lead">Here are some of the wonderful <strong>events</strong> I organise:</p>
    <grid column-count="3" phone-column-count="1" class="rotate-pattern-2">
    {% for x in site.events %}
      {% assign idx = forloop.index | plus: 0 %}
      <a href="{{ x.url }}" class="spack {% if x.soon %}spack-soon{% endif %}">
        <div class="spack-label" style="background-color: {{ x.accent }}; background-image: url({{ site.baseurl }}/media/{{ x.pattern }}); background-repeat: repeat; background-size: initial;" data-accent="{{ x.accent }}" data-cycle="{% cycle 'odd', 'even' %}">
          <h3 class="hover-effect"><span class="hover-effect-text">{{ x.title }} <icon class="fas fa-arrow-right"></icon></span></h3>
          <p>{{ x.description }}</p>
        </div>
        <div class="spack-spacer">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAGQAQAAAABkR44+AAAAAnRSTlMAAHaTzTgAAAA4SURBVHgB7cGBAAAAAMOg+1MfZNXSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADiLEAABHj3GfAAAAABJRU5ErkJggg==" />
        </div>
        {% if x.soon %}
          <span class="spack-banner">Coming Soon!</span>
        {% endif %}
        {% if x.stickers %}
          {% for img in x.stickers %}
            <img src="{{ site.baseurl }}/media/{{ img[0] }}" alt="{{ img[1] }}" class="sticker"/>
          {% endfor %}
        {% else %}
        {% endif %}
      </a>
    {% endfor %}
    </grid>
    <br><br>
    <p class="lead">And a selection of my best <strong>talks</strong>:</p>
      <grid column-count="3" phone-column-count="1" class="rotate-pattern-3">
      {% for x in site.data.talks %}
        <a href="#" class="spack">
          <div class="spack-label spack-label-hook" style="" data-accent="{{ x.accent }}" data-cycle="{% cycle 'odd', 'even' %}">
            <h3 class="hover-effect"><span class="hover-effect-text">{{ x.title }}<!-- <icon class="fas fa-arrow-right"></icon>--></span> </h3>
            <p>{{ x.event }} {{ x.year }}</p>
          </div>
        </a>
     {% endfor %}
    </grid>

  </container>
</section>

<section>
  <container>
    <h1 class="text-center">
      Let's grab some <wordart word="tea">tea</wordart> &amp; <wordart word="hoagie">hoagies</wordart>!
    </h1>
    <p class="lead">I am currently based out of <strong>Philadelphia</strong>, but I am also in <strong>New York City</strong> on a weekly basis, and I end up in <strong>Toronto</strong> or <strong>Baltimore</strong> every few months.</p>
    <p class="lead text-center">Tweet at me @pixelyunicorn or shoot me an email at:</p>
    <h2 class="text-center"><div class="vine"></div><div class="chestnut"></div><div class="cheddar"></div><div class="spruce"></div><div class="cone"></div></h2>
  </container>
</section>

