---
layout: blank
home: true
permalink: /

header-text: black
pattern: hero-patterns/tic-tac-toe-05.svg
---

<header>
  <container>
    <article class="content">
      <h2>I build interactive digital experiences that people enjoy!</h2>
      <p class="lead">Here’s a quick taste of what I do:</p>
    </article>
  </container>
</header>

<!-- <hr class="wave" > -->

<section id="portfolio">
  <container>
    <grid column-count="2" phone-column-count="1">
      {% assign weighted = site.work | sort: 'weight' %}
      {% for x in site.work %}
      {% assign idx = forloop.index | plus: 0 %}
          <a href="{{ x.url }}" class="pf-item brick" style="background-color: {{ x.accent-light }}; background-image: url({{ site.baseurl }}/media/{{ x.pattern }}); background-repeat: repeat; background-size: initial;" data-accent="{{ x.accent }}" data-cycle="{% cycle 'odd', 'even' %}">
            <p>Exhibit <index style="color: {{ x.accent-light }}">{{ idx }}</index></p>
            <h3><span class="number" style="background: {{ x.accent }}">#</span> {{ x.title }}</h3>
            <p>{{ x.description }}</p>
            <p class="link">{{ x.web-display }} <icon class="fas fa-arrow-right"></icon></p>
            <!-- <tags>{% for tag in x.tags %}<tag>{{ tag }}</tag>{% endfor %}</tags> -->
            <div class="preview">
              <img src="{{ site.baseurl }}/media/{{ x.preview }}" alt="">
            </div>
          </a>
      {% endfor %}
    </grid>
  </container>
</section>

<section id="contact">
  <container>
    <row align="middle">
      <column width="33">
        <h2>What I do:</h2>
        <row class="text-center">
          <column>
            <img src="{{ site.baseurl }}/media/icons/webdev-dark.svg" alt="Icon showing web development" class="hidden-phone"><br>
            Web <br class="hidden-phone">
            Development
          </column>
          <column>
            <img src="{{ site.baseurl }}/media/icons/design-dark.svg" alt="Icon showing user interface design" class="hidden-phone"><br>
            UX/UI <br class="hidden-phone">
            Design
          </column>
          <column>
              <img src="{{ site.baseurl }}/media/icons/community-dark.svg" alt="Icon showing user community management" class="hidden-phone"><br>
            Community <br class="hidden-phone">
            Management
          </column>
        </row>
      </column>
      <column width="66" class="text-center">
        <h2>Let's get in touch!</h2>
        <p class="no-margin-bottom">I'm looking for work! (No recruiters, please.)</p>
        <div class="vine"></div><div class="chestnut"></div>{% if site.melody == true %}<div class="cheddar"></div>{% else %}<div class="walnut"></div>{% endif %}<div class="spruce"></div>{% if site.melody == true %}<div class="cone"></div>{% else %}<div class="pine"></div>{% endif %}
      </column>
    </row>
  </container>
</section>
